# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/.venv/
.venv/
venv/

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*
backend/.env

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# 기타
# ----------------------
*.sqlite3